html {
   font-family: "Eras ITC", "Eras Light ITC", "Nunito Sans", sans-serif;
}

body {
    background-image: url("images/Login Screen BG.png");
}

.container {
    max-width: 600px;
    margin: left;
    padding: 0 120px;
    padding-top: 450px;
    overflow: hidden;
}

.row {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    padding: 20px 40px;
    color: #fff;
    transition: 0.5s;
}

.fields {
    max-width: 600px;
    overflow: hidden;
    padding: 8px;
}

.form-control {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 12px 0;
    border: 0;
    padding: 20px 20px;
    color: #F62431;
    transition: 0.5s;
}

.form-control:focus {
    box-shadow: 0 0 10px 4px #F62431;
}

.nonTextField {
    padding-left: 180px;
    padding-top: 50px;
}

.createAndforgot {
    padding-left: 200px;
    padding-top: 25px;
    color: grey;
}

.btn {
    font-family: "Eras ITC", "Eras Light ITC", "Nunito Sans", sans-serif;
    font-size: 16px;
    padding: 12px;
    background-color: #F62431;
    color: white;
    width: 150px;
    cursor: pointer;
}

.btn:hover {
    background-color: #c90202;
    color: black;
}

.row a {
    text-decoration: none;
    color: grey;
}

.row a:hover {
    text-decoration: underline;
}

::-webkit-input-placeholder {
    text-align: center;
    font-family: "Eras ITC", "Eras Light ITC", "Nunito Sans", sans-serif;
}
